<% layout('layouts/boilerplate')%>
<div class="row align-items-center justify-content-center h-100">
    <div class="col-12 col-md-8">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if (process.env.NODE_ENV !== "production") { %>
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>
