<% layout('layouts/boilerplate')%>
<div class="row align-items-center justify-content-center h-100">
    <div class="col-12 col-md-7 col-lg-5 text-center">
        <h1 class="display-3 mb-4">New Campground</h1>

        <form class="validate-form" action="/campgrounds" method="POST"
            enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]"
                    placeholder="Campground title" autofocus required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="text" name="campground[location]"
                    placeholder="Campground location" required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" id="price" type="text" name="campground[price]"
                        placeholder="0.00" aria-label="price" aria-describedby="price-label"
                        required />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="text"
                    name="campground[description]"
                    placeholder="Add a description for your campground" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-4">
                <label class="form-label" for="image">Upload Images</label>
                <input class="form-control" id="image" type="file" name="image" multiple />
            </div>

            <button class="btn btn-success w-50 mb-3">Add Campground</button>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>
