<% layout('layouts/boilerplate') %>
<div class="row align-items-center justify-content-center h-100">
    <div class="col-12 col-md-7 col-lg-5 text-center">
        <h1 class="display-3 mb-4">Login</h1>

        <form class="validate-form" action="/login" method="POST">
            <div class="form-group mb-4">
                <label class="visually-hidden form-label" for="username">Username</label>
                <input class="form-control" id="username" type="text" name="username"
                    placeholder="Your username" autofocus required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-4">
                <label class="visually-hidden form-label" for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password"
                    placeholder="Your password" required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <button class="btn btn-info w-50 mb-4">Login</button>

            <p class="text-muted">New to YelpCamp? <a href="/register">Join now!</a></p>
        </form>
    </div>
</div>
